body {
	background-color: black;
	color: white;
	font-size: 1.1em;
}

input, .input-field>label {
	color: white!important;
}

td:nth-child(2) {
	color: #ffbe00;
}

td:nth-child(3) {
	color: #ff7d7d;
}

.intro {
	color: #3dc5b9;
}

.btn {
	color: black!important;
}